<!DOCTYPE html>
<html>
<head>
	<title>Activate Account</title>
	<meta name="viewport" content="width=device-width, initial scale=1.0"/>
	<meta http-equiv="Content-Type" content="text/html;">
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,600,700' rel='stylesheet' type='text/css'>
</head>
<body style="margin:0px;">
<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="background-color:#f0f0f0; font-family:'Roboto', verdana, Geneva, sans-serif; font-size:13px; line-height:20px; color:#000;">
	<tr>
		<td></td>
		<td width="600" valign="top" align="center" style="padding:0px;border-collapse: collapse;">
			<table cellpadding="0" cellspacing="0" border="0" align="center">
				<!-- Logo start -->
				<tr>
					<td valign="top" align="left" style="padding:30px 15px;">
						<a href="" target="_blank" title="" style="display:inline-block;outline:none">
							<img width="130" src="" title="" alt="" style="display:block; border: none;">
						</a>
					</td>
				</tr>
				<!-- Logo end -->
				<!-- Body content start -->
				<tr>
					<td valign="top" align="left" style="padding:0px;">
						<table width="100%" cellpadding="0" cellspacing="0" border="0" align="left">
							<tr>
								<td valign="top" align="right" style="padding:0px; width:15px;">&nbsp;</td>
								<!-- White-panel start -->
								<td valign="top" align="center" style="padding:0px; width: 570px;">
									<div style="display: block; background: #fff; overflow: auto; border-radius: 15px;">
										<table width="100%" cellpadding="0" cellspacing="0" border="0" align="left">
											<tr>
												<td valign="top" align="center" style="padding:30px 20px; background-color:#fff;">
													<div style="margin:14px 0px 30px; font-size:20px; font-weight:300; color: #333; text-transform: capitalize;">
														Hi {{model.firstName}}!
													</div>
													<div style="margin:15px 0px; font-size:36px; line-height:44px; font-weight:700;">
														Thanks for signing up
													</div>
													<div style="margin:14px 0px; font-size:17px; line-height:26px; font-weight:300;">
														@DLP we are committed for faster and better services
													</div>
													<div style="margin:35px auto; max-width: 240px">
														<img src="" style="width: 100%; display: block; border: none;">
													</div>
													<div style="margin:14px auto; max-width: 370px; font-size: 20px;line-height: 30px;font-weight: 600;">
														By activating your account you can use our services.
													</div>
													<a href="{{model.accountActivationLink}}" style="display:inline-block; margin: 5px auto; min-width: 230px; background-color:#26c39b; color:#fff; padding:15px; text-align:center; font-size:16px; letter-spacing: 0.5px; color:#fff; font-weight: 700; text-decoration:none; outline:none; border-radius:8px; box-shadow:1px 1px 1px #C8C8C8;" target="_blank" title="Activate Your Account">
														Activate Your Account
													</a>
													<div  style="margin:14px auto; max-width: 480px; font-size:17px; line-height:26px; font-weight:300;">
														We have created an account for you, please click on above link to confirm your account and start with our services.
													</div>
													<div  style="margin:14px 0px; font-size:18px; line-height:26px; font-weight:500;">
														OR
													</div>
													<div  style="margin:14px 0px; font-size:18px; line-height:26px;">
														Call us @ <a href="tel:+" style="color: #0060ff; font-weight:700; text-decoration: none; cursor: pointer;"> </a>
													</div>
												</td>
											</tr>
										</table>
									</div>
								</td>
								<!-- White-panel end -->
								<td valign="top" align="right" style="padding:0px; width:15px;">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- Body content End -->
				<!-- Footer start -->
				<tr>
					<td valign="top" align="left" style="padding:25px 15px;">
						<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
							<tr>
								<td valign="top" style="padding:0px;">
									<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="font-weight:400;">
										<tr>
											<td valign="top" align="center" style="padding:0px;">
												<div style="margin:0px; font-size:14px; line-height:28px;">
													You can reply to this email. We read every email!
												</div>
												<div style="margin:20px 0px 10px;">
													<a href="" target="_blank" title="Facebook" style="display:inline-block; padding:10px;">
														<img src="" alt="Facebook" style="display:block; border:none; width:35px;">
													</a>
													<a href="" target="_blank" title="Twitter" style="display:inline-block; padding:10px;">
														<img src="" alt="Twitter" style="display:block; border:none; width:35px;">
													</a>
												</div>
												<div style="margin:0px; font-size:13px;  color:#666; line-height:22px; font-weight:700;">
													This email was sent to <a href="mailto:customercare@dlp.com" style="text-decoration:none; color:#003a97;">customercare@dlp.com</a><br>
													<a href="" target="blank" style="color: #666; text-decoration: none;">Privacy Policy</a> | <a href="" target="blank" style="color: #666; text-decoration: none;">Terms of Service</a><br>
													Copyright © 2017 DLP Pvt. Ltd, Address, Mumbai. All rights reserved.
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- Footer end -->
			</table>
		</td>
		<td></td>
	</tr>
</table>
</body>
</html>